<ion-view view-title="Contactanos" >
  <ion-content class="has-header">
    <ion-list>
      <div class="list">

        <a class="item item-icon-left" href="mailto: jefnielestrada@gmail.com">
          <i class="icon ion-email"></i>
          jefnielestrada@gmail.com
        </a>

        <a class="item item-icon-left item-icon-right" href="tel: 7876310059">
          <i class="icon ion-chatbubble-working"></i>
          (787) 631-0059
          <i class="icon ion-ios-telephone-outline"></i>
        </a>

        <div class="item item-divider">
          Redes Sociales
        </div>

        <a class="item item-icon-left" href="#" social-group url="fb://profile/525529387600130" alternative="https://www.facebook.com/realempirestudiopr/">
          <i class="icon ion-social-facebook"></i>
          Real Empire Studio - Facebook
          <span class="item-note">
          </span>
        </a>
        <a class="item item-icon-left" href="#" social-group url="twitter:///user?screen_name=Realempire_pr" alternative="https://twitter.com/Realempire_pr?lang=en">
          <i class="icon ion-social-twitter"></i>
          Real Empire Studio - Twitter
          <span class="item-note">
          </span>
        </a>
        <a class="item item-icon-left" href="#" social-group url="instagram://user?username=realempirestudio" alternative="https://www.instagram.com/realempirestudio/" target="_blank">
          <i class="icon ion-social-instagram"></i>
          Real Empire Studio - Instagram
          <span class="item-note">
          </span>
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
