<ion-view view-title="<img class='title-image' src='img/realempire-white.png' />">
  <ion-content class="has-header" overflow-scroll = "true">

    <div class="row list-main responsive-sm" ui-sref="class" id="clases">
        <div class="col img bg-color">
              <!-- <div class="class-position"> -->
                Clases
              <!-- </div> -->
        </div>
    </div>

    <div class="row list-main responsive-sm" ui-sref="teachers" id="maestros">
        <div class="col padding img bg-color">
          Maestros
      </div>
    </div>

    <div class="row list-main" id="eventos" ui-sref="events">
      <div class="col padding img bg-color">
        Eventos
      </div>
    </div>

    <div class="row list-main" ui-sref="videos" id="videos">
      <div class="col padding img bg-color">
            Videos
      </div>
    </div>  
   
    <div class="row list-main" ui-sref="contact" id="contactanos">
      <div class="col padding img bg-color">
            Contactanos
      </div>
    </div>

  </ion-content>
</ion-view>
