<ion-view view-title="<img class='title-image' src='img/realempire-white.png' />">
  <ion-content class='padding-vertical'>

  <div class="row list-main padding" ui-sref="class" >
    <div class="col  img img-class">

          Clases

    </div>
  </div>

  <div class="row list-main">
    <div class="col padding img img-class">

          Videos

    </div>
  </div>

  <div class="row list-main" ui-sref="teachers" >
    <div class="col padding img img-class">

          Maestros

    </div>
  </div>

  <div class="row list-main">
    <div class="col padding img img-class">

          Precios

    </div>
  </div>

  <div class="row list-main">
    <div class="col padding img img-class">

          Eventos

    </div>
  </div>
    
  </ion-content>
</ion-view>
