<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Videos" >
  <ion-content class="has-header" overflow-scroll = "true" >
    <ion-list class='video-list'>

    <div ng-repeat="video in videos.results">
      <!--<h4 class="profile-class center white padding">
        {{video.name}}
      </h4> -->

      <div class="item ">
        <h2 class="center">{{video.name}}</h2>
      </div>

      <div class="item item-body item-video-body">
          <iframe class="videos" src="{{trustSrc(video.youtube)}}" frameborder="0"></iframe>
          <p>
           {{video.description}}
          </p>
          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-share"></i>
            Share Video
          </a>
        </div>

    </div>

    <div ng-repeat="video in videos.results">
      <!--<h4 class="profile-class center white padding">
        {{video.name}}
      </h4> -->

      <div class="item ">
        <h2 class="center">{{video.name}}</h2>
      </div>

      <div class="item item-body item-video-body">
          <iframe class="videos" src="{{trustSrc(video.youtube)}}" frameborder="0"></iframe>
          <p>
           {{video.description}}
          </p>
          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-share"></i>
            Share Video
          </a>
        </div>

    </div>

    </ion-list>
  </ion-content>
</ion-view>
