/* Empty. Add your own CSS if you like */
.center{
	text-align: center;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.white{
	color:white;
}

.title-image {
    margin-top: 5px;
    height: 35px;
}

.bar
{
	background-color: black !important;
}

.list-main{
	height: 200px;
	background-color: black;
	/*border-bottom: 1px solid rgba(255,255,255,0.5);*/
	color:white;
    padding: 0px!important;
    margin-bottom: 0px!important;

}

.img{
    margin-bottom: 0px!important;
}

#clases{
    background: url('../img/clases.png') no-repeat;
    background-size: 100%;
}

#maestros{
    background: url('../img/maestros.png') no-repeat;
    background-size: 100%;
}

#eventos{
    background: url('../img/eventos.png') no-repeat;
    background-size: 100%;
}

#videos{
    background: url('../img/videos.png') no-repeat;
    background-size: 100%;
}

.bg-color{
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-shadow: 2px 2px #444;
    padding: 10px;
}

.list-main-image{

}

.list-main-title{

}

.animate-repeat {
    -webkit-transition: .7s ease-out all;
    transition: .7s ease-out all;

}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,

 {
    -webkit-transition:all ease-out 0.1s;
    transition:all ease-out 0.1s;
}
.animate-repeat.ng-leave
{
	-webkit-transition:all ease-out 0.1s;
    transition:all ease-out 0.1s;
}


.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}


.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;

}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move.ng-move-active{
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active{
    opacity:1;
}


.animate-repeat.ng-leave-stagger {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.animate-repeat.ng-enter-stagger {
    -webkit-transition-delay: 0.07s;
    transition-delay: 0.07s;

    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}


/*Class*/

.item-divider{
	color:black;
	background-color: rgba(0,0,0,0.05);
	/*border:none;*/
	/*display:none;*/
}

.item-divider>h3{
	color:black;
}

.class-item-date{

    border-right: dashed 1px rgba(0,0,0,0.2);
	text-align: right;
}


/*Teachers*/

.label-default {
    background-color: #777;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    font-size: 0.6em;
    margin-left: 2px;

}

.label-no-size {
	display: block;
	margin:0 30%;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    /*vertical-align: baseline;*/
    border-radius: .25em;
    /*font-size: 0.6em;*/
    margin-left: 2px;
    background-color: rgba(43,43,43,.6);

}

.label-info {
    background-color: #5bc0de;
}

.label-danger {
    background-color: #FF5A56;
}

.image-teacher{
	top: 10px !important;
    left: 8px !important;
    max-width: 55px !important;
    max-height: 55px !important;
}


/*Teacher Detail*/

.profile{
	/*background-color: #2b2b2b;
	height: 50%;*/
	background-image: url('../img/empire-state-building-bg.jpg');
	background-size: 500px;
}

.profile-image{
	border-radius:50%;
	max-width: 120px;
	max-height: 120px;
	min-height: 120px;
	min-width: 120px;
	border: solid 1px rgba(255,255,255,1);
	margin-top:10px;

}

.profile-class{
		background-color: #222222;
		margin:0;
}

.profile-name{
	margin-top:5px;
}

.video-container>iframe{
	width: 100%;
}

.class-item-date>h2{
	margin:0;
	color:#222222;
}
.class-item-date>div{

    font-size: .7em;
    position: relative;
    top: -3px;
    color: #444444;
}
